.at-social-enews-effect-1 ul li div{margin: 5px;-webkit-transition: all 0.1s ease-in;-moz-transition: all 0.1s ease-in;-o-transition: all 0.1s ease-in;transition: all 0.1s ease-in;}
.at-social-enews-effect-1 ul li:hover div{margin: 0;padding: 5px;}
