@font-face {
    font-family: 'Segoe_UI';
    src: url('fonts/segoeui.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe_UI';
    src: url('fonts/segoeuil.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe_UI';
    src: url('fonts/segoeuib.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe_UI_sb';
    src: url('fonts/segoeuisb.woff') format('woff');
}
body,h1,h2,h4,h5{
	font-family: Segoe_UI;
}
body,h1,h2,h3,h4,h5{
	color: #666;
}
body{
	font-size: 14px;
	line-height: 22px;
}
p{
	line-height: 22px;
}
h1,h2,h3,h4,h5{
	line-height: 100%;
}
h1{
	font-size: 36px;
	font-weight: lighter;
}
h2{
	font-size: 24px;
	font-weight: lighter;
}
h3{
	font-family: Segoe_UI_sb;
	font-size: 22px;
	font-weight: normal;
}
/*----- link & link hover -----*/
a,a:hover,a:link, a:visited{
	text-decoration: none;
	color: #313131;
}
blockquote{
	margin: 30px 20px;
	padding: 5px 10px 5px 40px;
	background-image: url('../images/quote.png');
	background-position: top left;
	background-repeat: no-repeat;
	border: none;
	font-style: italic;
}
.at-box-info, .at-box-download, .at-box-hint, .at-box-warning{
	min-height: 22px;
	padding: 8px 8px 8px 28px;
	line-height: 24px;
	margin: 5px 15px;
}
.at-box-info {
	background: url("../images/typo/info.png") no-repeat scroll 2px center;
}
.at-box-download {
	background: url("../images/typo/download.png") no-repeat scroll 2px center;
}
.at-box-hint {
	background: url("../images/typo/star.png") no-repeat scroll 2px center;
}
.at-box-warning {
	background: url("../images/typo/warning.png") no-repeat scroll 2px center;
}
.at-box-content {
	margin: 10px 0 15px 0;
	padding: 20px;
	border: 1px solid #c6c6c6;
}
.at-box-note {
	margin: 10px 0 15px 0;
	padding: 20px;
	background: #efefef;
	border: 1px solid #c6c6c6;
}
.the-arrow{
	list-style-image: url('../images/typo/list-style-1.png');
}
.the-darrow{
	list-style-image: url('../images/typo/list-style-2.png');
}
.the-plus{
	list-style-image: url('../images/typo/list-style-3.png');
}
.the-doc{
	list-style-image: url('../images/typo/list-style-4.png');
}
input.inputbox{
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	padding: 8px 8px;
	background: #eeeeee;
	border: none;
	color: #8F8F8F;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	background: #fff;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
{
	border-color:rgba(82,168,236,0.8);
	outline:0;outline:thin dotted \9;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.075);
}